body {
  font-family: 'helvetica neue', arial, serif;
  
  font-weight: 300;
  color: white;
  background-color: black;
  width: 80%;
  margin: 20px auto;
}

#top-pic{ 
text-align: center;
}

footer{
font-family: 'helvetica neue', arial, serif;
  font-size: small;
  font-weight: 100;
  color: gray;
  background-color: black;
    width: 960px;
  margin: 20px auto;
  border-top: groove;
}