body {
  font-family: 'helvetica neue', arial, serif;
  
  font-weight: 300;
  color: white;
  background-color: black;
  width: 80%;
  margin: 20px auto;
}

#top-pic{ 
text-align: center;
float: right;
}

#pic-box{
  display:inline-block;
  vertical-align: middle; 
}

#cat-pic{
  display:inline-block;
  vertical-align: middle;
  padding: 10px;
  border-radius: 10px ;
  border: 1px solid white;
  margin-left: 25px;
}

#plus-pic{
  display:inline-block;
  vertical-align: middle;
  padding: 10px;
  margin-left: 40px;
  
}

#tux-pic{
  display:inline-block;
  vertical-align: middle;
  margin-left: 40px;
  padding: 10px;
  border-radius: 10px ;
  border: 1px solid white;
}


#subbody{
  margin-top: 40px;
  font-family: 'Montserrat', arial, serif;
  font-weight: 400;
  color: white;
  background-color: black;
  width: 90%;
  margin: 20px auto;
}

p.sub-body{
  line-height: 90%;
}

footer{
font-family: 'helvetica neue', arial, serif;
  font-size: small;
  font-weight: 100;
  color: gray;
  background-color: black;
  width: 100%;
  margin: 20px auto;
  border-top: groove;
}