body {
  font-family: 'helvetica neue', arial, serif;
  
  font-weight: 300;
  color: white;
  background-color: black;
  width: 80%;
  margin: 20px auto;
}

.jumbotron{
  color: black;
}

.row{
  font-color: #FFFF00;
}

.goldfont{
  font-size: #FFFF00;
}
#top-pic{ 
text-align: center;
float: right;
margin: 30px;
height: 300px;
}

#b-link{
  background-color: yellow;
  color: black;
  border: 4px solid yellow;
  border-radius: 5px;
  padding: 5px;


}


#pic-box{
  display:inline-block;
  vertical-align: middle;
  margin: 20px; 
}

#cat-pic{
  display:inline-block;
  vertical-align: middle;
  background-color: silver;
  border-radius: 10px ;
  border: 1px solid white;
  padding: 10px;
  margin-left: 25px;
}

#plus-pic{
  display:inline-block;
  vertical-align: middle;
  padding: 10px;
  margin-left: 40px;
  
}

#tux-pic{
  display:inline-block;
  vertical-align: middle;
  background-color: silver;
  border-radius: 10px ;
  margin-left: 40px;
  padding: 10px;
  border: 1px solid white;
}


#subbody{
  margin-top: 40px;
  font-family: 'Montserrat', arial;
  font-weight: 400;
  color: white;
  background-color: black;
  width: 90%;
  margin: 20px auto;
}

p.sub-body{
  line-height: 90%;
}

footer{
font-family: 'helvetica neue', arial, serif;
  font-size: small;
  font-weight: 100;
  color: gray;
  background-color: black;
  width: 100%;
  margin: 20px auto;
  border-top: groove;
}